* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #FDFCFA;
    overflow: hidden;
}

.column {
    float: left;
    width: 50%;
    padding: 20px;
}

.parallax-layer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background {
    z-index: 1;
}

.foreground {
    z-index: 2;
}

.container {
    position: relative;
    z-index: 3;
    margin-top: 100px;
    margin-bottom: 40px;
    margin-right: 100px;
    margin-left: 100px;
}

.details {
    display: none;
    position: absolute;
    padding: 30px;
    background-color: #080808;
    color: #fff;
}

.project:hover .details {
    display: block;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-container img {
    width: 10%;
    height: auto;
}

.details .image-container img {
    width: 10%;
    height: auto;
}