/* Global Styles */
* {
    box-sizing: border-box;
    font-family: "Manrope";
}

body {
    background-color: #FDFCFA;
    overflow: hidden;
}

/* Container Layout */
.container {
    position: relative;
    z-index: 3;
    margin-top: 100px;
    margin-bottom: 40px;
    margin-right: 100px;
    margin-left: 100px;
    animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Parallax Layer */
.parallax-layer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Column Layout */
.column {
    float: left;
    width: 50%;
    padding: 20px;
    
}

.background {
    z-index: 1;
}

.foreground {
    z-index: 2;
}

/* Profile Column */
.black-bar {
    color: #fff;
    background-color: #080808;
    padding-left: 5px;
    animation: slideRight 2s ease-out forwards;
}

@keyframes slideRight {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

#intern-name {
    font-size: x-large;
    margin: 0;
}

#intern-title {
    font-size: large;
    margin: 0;
}


/* Project Column */
#project-column {
    text-align: right;
}

#project-column .details {
    text-align: left;
}

.project:hover .details {
    display: block;
}

.project h3 {
    padding-right: 5px;
}

.project:hover h3 {
    transition: color 0.3s ease, background-color 0.3s ease;
    color: #fff;
    background-color: #080808;
}

.details {
    display: none;
    position: absolute;
    border: 1px solid #080808;
    border-color: #080808;
    border-radius: 3px;
    padding: 20px;
    background-color: #fff;
    color: #080808;
}

/* Image Container */
.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-container img {
    width: 8%;
    height: auto;
}

.details .image-container img {
    width: 10%;
    height: auto;
}

/* Mobile  */
@media (max-width: 768px) {
    .parallax-layer {
        transform: translateY(10%);
        transition: transform 0.3s ease;
    }

    body {
        overflow: visible;
    }

    .column {
        width: 100%;
        padding: 10px;
    }

    .container {
        margin: 20px;
    }

    h1,
    h2,
    h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .image-container img {
        width: 20%;
        max-width: 60px;
    }

    .details {
        width: 90%;
        max-width: 300px;
    }
}

/* For small devices */
@media (max-width: 480px) {
    .parallax-layer {
        transform: translateY(10%);
        transition: transform 0.3s ease;
    }

    body {
        overflow: visible;
    }

    .column {
        width: 100%;
        padding: 5px;
    }

    h1,
    h2,
    h3 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    .image-container img {
        width: 30%;
        max-width: 50px;
    }

    .details {
        padding: 15px;
    }

    .details p {
        font-size: 12px;
    }
}